*.bak
*.pyc
*.tif
*.png
*.pdf
*.jpeg
*.jpg
*.html
*.so
*.npy
*.npz
utilities/build/*
utilities/invert_flow.c
submission*
myfiles/
.gitignore
.idea/
.ipynb_checkpoints/
build/
data/
*.ipynb
logs/
output/
preds/
weights/
test/